@mixin custom-workout($value) {
  display: grid;
  gap: 0.5rem 2.5rem;
  background-color: var(--workout-color);
  padding: 1.5rem 2.75rem;
  border-radius: 0.5rem;
  margin-bottom: 1.75rem;
  height: 9.25rem;
  grid-template-columns: $value;
}
@mixin border-color($value) {
  border-left: 3px solid var($value);
}
.mapty {
  padding: 2rem;
  display: flex;
  overscroll-behavior-y: none;
  height: 100vh;

  &__sidebar {
    background-color: var(--background);
    flex-basis: 50rem;
    display: flex;
    padding: 3rem 5rem 4rem 5rem;
    flex-direction: column;
  }
  &__logo {
    height: 5.2rem;
    align-self: center;
    margin-bottom: 4rem;
  }
  &__form {
    @include custom-workout(1fr 1fr);
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__label {
    flex: 0 0 50%;
    font-weight: 600;
  }
  &__form-control {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: var(--form-control-color);
    transition: all 0.2s;
  }
  &__main {
    height: 100%;
    flex: 1;
  }
}
.workout {
  @include custom-workout(1fr 1fr 1fr 1fr);
  &__title {
    grid-column: 1/-1;
    line-height: 1.6;
  }
  &__details {
    display: flex;
    align-items: baseline;
    font-size: 1.5rem;
    color: #fff;
  }
  &__value {
    margin-right: 0.5rem;
    font-weight: 600;
  }
  &__unit {
    font-size: 1.1rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #aaa;
  }
}

.workout--running {
  @include border-color(--color-brand--2);
}
.workout--cycling {
  @include border-color(--color-brand--1);
}
#map {
  height: inherit;
  flex: inherit;
}
